.App {
  text-align: center;
  /* background-color: black; */
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center
}

a {
  margin: 20px;
}

.friends {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 1120px;
  margin: 0 auto;
}

.Button {
  width: 120px;
  padding: 10px;
  margin: 20px;
}

.item {
  width: 300px;
  height: 240px;
  margin: 20px 0;
  border: 1px solid gray;
  padding: 20px 5px;
}

.login-background {
  background-image: url("./img/Friends.jpg"); /* The image used */
  height: 100vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-color: black;
}

.login-form {
  margin-top: 1%;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
